name: Docker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: docker build
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: spiltcoffee/remote
